<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/register.css')}}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <div class="background"></div>
    <div class="container">
        <div class="content">
            <h2>College Interactive System</h2>
            <div class="text-sci">
                <h2>Welcome!<br><span>To our new website</span></h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est.</p>
            </div>

            <div class="social-icons">
                <a href=""><i class='bx bxl-instagram'></i></a>
                <a href=""><i class='bx bxl-meta'></i></a>
                <a href=""><i class='bx bxl-twitter'></i></a>
                <a href=""><i class='bx bxl-linkedin'></i></a>



            </div>
        </div>
        <div class="logreg-box">
            <div class="form-box login">
                <form action="/register" method="post">
                    <h2>Sign Up</h2>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-user'></i></span>
                        <input type="text" required name="username">
                        <label for="">Username</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-envelope'></i></span>
                        <input type="email" required name="email">
                        <label for="">E-mail</label>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-graduation'></i></span>
                        <input type="text" required name="college" >
                        <label for="">College</label>
                    </div>
                    <div class="input-box">
                        <label for="">Choose</label>
                        <select name="choose" id="">
                            <option value="">--Select--</option>
                        <option value="student">Student</option>
                        <option value="teacher">Teacher</option>
                    </select>
                    </div>
                    <div class="input-box">
                        <span class="icon"><i class='bx bxs-lock-alt'></i></span>
                        <input type="password" required name="password">
                        <label for="">Password</label>
                    </div>
                    <button type="submit" class="registerbtn">Sign Up</button>
                    <div class="login-register">
                        <p>Already hava an account?<a href="/login">Login</a></p>
                    </div>
                </form>

            </div>
        </div>





        <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>